div{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: pink;
    margin-left: 550px;

}
a{
    font-size: bolder;
    font-family: cursive;
}
#anchor1{
    margin-left: 300px;

}
#anchor2{
    margin-left: 205px;
}
#anchor3{
    margin-left: 205px;
    margin-right:100px

}
h1{
    text-decoration: underline;
    font-family: cursive;
}
